<!DOCTYPE html>
<html>

<head>
    <title>Light switch</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="container">
        <input type="checkbox" id="s1" class="light-switch" />
        <label for="s1" class="light-switch-label light-switch-left">
			<div class="screw"></div>
			<div class="switch"></div>
			<div class="screw"></div>
		</label>
        <input type="checkbox" id="s2" class="light-switch" />
        <label for="s2" class="light-switch-label light-switch-right">
			<div class="screw"></div>
			<div class="switch"></div>
			<div class="screw"></div>
		</label>
    </div>
    <script src="js/index.js"></script>
</body>

</html>